<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

<title>Додавање ново барање </title>

    <style>
        #status{
            display: none;
        }
    </style>
</head>
<body>

 <div class="mt-4" layout:fragment="content">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Додавање ново барање</h3>
                </div>
                <div class="card-body">
                    <form th:method="post" th:action="@{/ekvivalencii/save}">
    <div class="form-group" >
        <input type="hidden" id="id" name="id" placeholder="ID" required />
    </div>

    <div class="form-group" >
        <label for="student">Student Index:</label>
        <input type="text" id="student" name="student" placeholder="Enter student index" required />
    </div>
    <div class="form-group" th:hidden="${true}">
        <label for="oldStudyProgram">Old Study Program:</label>
        <select id="oldStudyProgram" name="oldStudyProgram" class="form-control"></select>
    </div>

    <div class="form-group" >
        <label for="newStudyProgram">New Study Program:</label>
        <select id="newStudyProgram" name="newStudyProgram" class="form-control">
            <option th:each="newStudyProgram : ${newStudyPrograms}" th:value="${newStudyProgram.code}" th:text="${newStudyProgram.code}"></option>
        </select>
    </div>
    <div class="form-group">

        <select id="status" name="status" class="form-control"  >
            <option th:each="status : ${equivalenceStatusValues}" th:value="${status}" th:text="${status}" th:selected="${status == 'Requested'}" type="hidden"></option>
        </select>
    </div>

    <button type="submit" class="btn btn-success ml-2">Save</button>
</form>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>
</body>
</html>